*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.header{
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    /* height:100vh ; */
    background-size: cover;
 
}
.header-section{
    text-align: right;
    padding: 200px 100px 180px 800px;
}
.header-title{
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 20px;
}
.section-description{
    margin-bottom: 32px;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
}
.contact-button{
    font-weight: 600;
    font-size: 20px;
    padding: 21px 25px;
    background-color:#F15B22 ;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
/* my-failures */
.my-failures{
    display: flex;
    gap: 85px;
    margin: 0px 200px;
    padding: 130px 0px;
    align-items: center;
}
.failures-header{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.failures-paragraph{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
}
/* My plans style */
.plan-section{
 text-align: center;
 text-transform: capitalize;
}
.plan{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    /* background-color: #ff5959; */
    margin: 15px 0px;
    padding: 30px 10px;
}
.plan-title{
    font-size: 40px;
    font-weight: 700;
}
.plans-title{
    font-size: 30px;
    font-weight: 700;
}
.plans-description{
    font-size: 25px;
    font-weight: 500;
    margin-top: 15px;
}
/* Awlays keep style */
.awlays-keep{
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),  url(../images/watch.png);
    border-radius: 8px;
    height:300px ;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 25px 150px;
    padding: 30px 0px;
}
.awlays-keep-title{
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 0px 150px;
    width: 40%;
}
.awlays-keep-button{
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    background-color: #FFFFFF;
    padding: 10px 20px;
    margin: 30px 100px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}
/* footer section  */
.footer-section {
    display: flex;
    justify-content: space-around;
    gap: 200px;
    margin-top: 100px;
    padding: 50px 250px 50px 150px;
    text-align: left;
    background-color: black;
  }
  .footer-text {
    font-size: 16px;
    padding: 10px 0;
    color: white;
  }
  .footer-section > .footer > a {
    text-decoration: none;
  }
  .footer-title {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    padding: 10px 0;
    color: white;
  }
  .footer-section .email > input {
    margin-bottom: 20px;
    border: 0;
    width: 100%;
    border-radius: 5px;
    padding: 18px 50px;
  }
  .subscribe-button {
    height: 50px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    color: #fa0505;
    background-color: #ffffff;
    padding: 10px 20px;
    margin: 20px 0px;
    cursor: pointer;
  }
